*.php linguist-detectable=true

*.html linguist-detectable=false  
*.css linguist-detectable=false  
*.js linguist-detectable=false  
*.sql linguist-detectable=false
*.less linguist-detectable=false
*.scss linguist-detectable=false