*.php linguist-detectable=true

# منع اكتشاف اللغات الأخرى بما في ذلك Less
*.html linguist-detectable=false  
*.css linguist-detectable=false  
*.js linguist-detectable=false  
*.sql linguist-detectable=false
*.less linguist-detectable=false