* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
    color: #ff6456;
    margin-bottom: 20px;
}

.book-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.book {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.book img {
    width: 100px;
    border-radius: 5px;
}

.book-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.book-details div {
    margin-bottom: 5px;
}

.actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

button {
    color: #fff;
    padding: 8px 12px;
    background-color: #ff6456;
    font-size: 14px;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

button:hover {
    background-color: #F4347B;
}

.icon {
    margin-right: 5px;
}

/* @media screen and (max-width: 768px) {
    .book-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    
} */
@media screen and (max-width: 768px) {
    .book {
        flex-direction: column;
        align-items: center;
    }
    .book-details {
        margin-top: 10px;
        text-align: center;
    }
    .actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .actions a, .actions button {
        margin-bottom: 5px;
    }
}
@media screen and (min-width: 1024px) {
    .container {
        width: 50%;
    }
}