* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    font-size: 16px;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 90%;
    margin: 7% auto;
}

h2 {
    text-align: left;
    color: #ff6456;
    margin-top: 20px;
}

.cover-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cover {   
    display: flex;
    align-items: center;
    gap: 20px;
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 7px;
}

.carousel-indicators li {
    background-color: #ff6456;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicators .active {
    background-color: #F4347B;
}
.carousel-inner{
    border-radius: 10px !important;
    object-fit: cover;
}
.books-container{
    margin-bottom: 5%;
}
.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin-top: 20px;
}

.book {
    position: relative;
    width: 30%;
    max-width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

.book:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.book-cover {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.book-title {
    padding: 5px;
    background-color: transparent;
    color: #ff6456;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
}

.favorites {
    position: absolute;
    top: 13%;
    right: 20%;
    transform: translate(50%, -50%);
    background-color: #ff6456;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.book:hover .favorites {
    opacity: 1;
    transform: translate(50%, -70%);
}

.favorites:hover {
    background-color: #F4347B;
}

.book a{
    text-decoration: none;
}

.category-title {
    font-weight: bold;
    font-size: 24px;
}

.category-title i {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .cover {
        flex-direction: column;
        align-items: center;
    }
    .carousel-indicators {
        margin-bottom: 3px;
    }
    .carousel-indicators li {
        width: 5px;
        height: 5px;
    }
    .book {
        width: calc(50% - 30px);
    }
}

@media screen and (min-width: 768px) {
    .books {
        justify-content: flex-start;
    }
    .container {
            width: 70%;
            margin: 10% auto;
        }

    @media screen and (min-width: 1024px) {
        .container {
            width: 70%;
            margin: 5% auto;
        }
        .book {
            width: calc(20% - 30px);
            text-align: left;
        }
    }
}